.home {
  padding: 30px 100px;
  background-color: #f0f0f0;
}

.content {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: calc(100vh - 108px);
}

.deck-container {
  max-height: 240px;
  min-width: 210px;
}
.deck {
  max-height: 240px;
}

.deck-msg {
  margin-top: 20px;
  font-size: 14px;
}

.card {
  border: 1px solid lightblue;
  width: 170px;
  height: 200px;
  position: relative;
  cursor: pointer;

  background: repeating-linear-gradient(
    45deg,
    #606dbc,
    #606dbc 10px,
    #465298 10px,
    #465298 20px
  );
}

@for $i from 1 to 6 {
  .card:nth-child(#{$i}) {
    top: -190px * ($i - 1);
    left: 10px * ($i - 1);
  }
}

.openedCard-container {
  align-self: center;
  min-width: 210px;
}

.openedCard {
  width: 170px;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border: 20px solid transparent;
  background: linear-gradient(#cedfe4, #cedfe4) content-box,
    linear-gradient(#606dbc, #606dbc) padding-box,
    linear-gradient(#475399, #475399) border-box;
}

.card-zeroState {
  background: none;
  padding: 30px;
  border: 20px solid transparent;
  background: linear-gradient(white, white) content-box,
    linear-gradient(white, white) padding-box,
    linear-gradient(#475399, #475399) border-box;
}

.defuseCards-container {
  max-height: 240px;
  min-width: 210px;
}
.defuseCards {
  max-height: 240px;
  min-width: 210px;
}
.defuseCard {
  outline: 1px solid lightblue;
  width: 170px;
  height: 200px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border: 20px solid transparent;
  background: linear-gradient(#cedfe4, #cedfe4) content-box,
    linear-gradient(#606dbc, #606dbc) padding-box,
    linear-gradient(#475399, #475399) border-box;
}

@for $i from 1 to 6 {
  .defuseCard:nth-child(#{$i}) {
    top: -190px * ($i - 1);
    left: 10px * ($i - 1);
  }
}
