.mainHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.mainHeader--left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mainHeader--left > img {
  margin-right: 20px;
}

.mainHeader--left > h2 {
  margin: 0;
}

.mainHeader--right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mainHeader--right > div {
  text-decoration: underline;
  cursor: pointer;
  margin-right: 10px;
}

.mainHeader--right > div:last-child {
  margin-right: 0;
}
