.mainHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.mainHeader--left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mainHeader--left > img {
  margin-right: 20px;
}

.mainHeader--left > h2 {
  margin: 0;
}

.autosave-loader {
  padding-right: 12%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 13px;
}

.autosave-loader > img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.rotate {
  animation: spin 4s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
    transform-origin: center;
  }
}

.spinText {
  min-width: 50px;
}

.mainHeader--right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mainHeader--right > div {
  text-decoration: underline;
  cursor: pointer;
  margin-right: 10px;
}

.mainHeader--right > div:last-child {
  margin-right: 0;
}
